ESB/eolic_windevent_ESB/src/main/app/eolicesb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:smtps="http://www.mulesoft.org/schema/mule/smtps" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/smtps http://www.mulesoft.org/schema/mule/smtps/current/mule-smtps.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">
    <configuration doc:name="Configuration">
		<expression-language autoResolveVariables="true">
	    	<import class="org.mule.util.StringUtils" />
		</expression-language>
	</configuration>
	
	<db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" database="eoliceventconsumer"  doc:name="MySQL Configuration"/>
	
	
	
   <file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <vm:endpoint exchange-pattern="one-way" path="ComplexEventConsumerPath" name="ComplexEventConsumerGlobalVM" doc:name="VM"/>
    <spring:beans>
        <spring:bean id="list" name="myList" class="org.springframework.beans.factory.config.ListFactoryBean">
            <spring:property name="sourceList">
                <spring:list/>
            </spring:property>
        </spring:bean>
    </spring:beans>
   	
   	
   	<flow name="eolic_windeventFlow">
        <file:inbound-endpoint path="${file.input}" moveToDirectory="${file.resources}"  responseTimeout="10000" doc:name="Pulling CSV" metadata:id="13b73b5c-6466-4b22-8729-273d9a4cd6b3"/>
			<object-to-string-transformer doc:name="Object to String"/>
			<splitter expression="#[StringUtils.split(message.payload, '\n\r')]" doc:name="Splitter" />
         	<custom-transformer class="transformer.JsonToWindEventTransformer" doc:name="JsonToWindEventTransformer"/>
        <scatter-gather doc:name="Scatter-Gather">
            <logger message="Line - #[payload]" level="DEBUG" doc:name="Logger"/>
            <component doc:name="Send WindEvent to Esper Engine">
               <singleton-object class="esper.SendEventToEsperComponent"/>
            </component> 
        </scatter-gather>
	</flow> 
     
    <flow name="ReceptionAndDecisionMaking">
       	<vm:inbound-endpoint exchange-pattern="one-way"  doc:name="ComplexEvent Consumer" ref="ComplexEventConsumerGlobalVM"/>
        <scatter-gather doc:name="Scatter-Gather">
             <!-- <processor-chain>
                <set-payload value="Detected Alert '#[message.inboundProperties['eventPatternName']]': #[payload]" doc:name="Set Alert Payload"/>
                <smtps:outbound-endpoint host="smtp.gmail.com" port="465" user="${email.username}" password="${email.password}" to="${emailto}" from="${emailfrom}" subject="ALERTA DE TU MOTOR CEP" responseTimeout="10000" doc:name="Send Alert by Email"/>
            </processor-chain>  -->
            <logger message="***SOY EL LOGGER Complex Event: #[message.inboundProperties['eventPatternName']]" level="INFO" doc:name="Logger"/>
            <component doc:name="Watcher">
               <singleton-object class="esper.Watcher"/>
            </component>
            <choice doc:name="Choice">
                <when expression="#[message.inboundProperties['eventPatternName'] ==&quot;RankingProd&quot;]">
                    <db:insert config-ref="MySQL_Configuration" doc:name="RankingProd">
                        <db:parameterized-query><![CDATA[insert into rankingprods(systemNumber,time,suma,productividad,events,tipo,fecha,numAeros) values (
		#[payload["RankingProd"]["systemNumber"]],
		#[payload["RankingProd"]["time"]],
		#[payload["RankingProd"]["suma"]],
		#[payload["RankingProd"]["productividad"]],
		#[payload["RankingProd"]["events"]],
		"RankingProd",
		#[payload["RankingProd"]["fecha"]],
		#[payload["RankingProd"]["numAeros"]]
	);]]></db:parameterized-query>
                    </db:insert>
                </when>
                <when expression="#[message.inboundProperties['eventPatternName'] ==&quot;Transicion&quot;]">
                    <db:insert config-ref="MySQL_Configuration" doc:name="Transicions">
                        <db:parameterized-query><![CDATA[insert into transicions (systemNumber,posicionInicio,posicionFin,variacion,inicio,fin) values (
		#[payload["Transicion"]["systemNumber"]],
		#[payload["Transicion"]["posicionInicio"]],
		#[payload["Transicion"]["posicionFin"]],
		#[payload["Transicion"]["variacion"]],
		#[payload["Transicion"]["inicio"]],
		#[payload["Transicion"]["fin"]]
	);]]></db:parameterized-query>
                    </db:insert>
                </when>
                <when expression="#[message.inboundProperties['eventPatternName'] ==&quot;Escala&quot;]">
                    <db:insert config-ref="MySQL_Configuration" doc:name="Escalas">
                        <db:parameterized-query><![CDATA[insert into escalas (systemNumber,posicion,fecha) values (
		#[payload["Escala"]["systemNumber"]],
		#[payload["Escala"]["posicion"]],
		#[payload["Escala"]["fecha"]]
	);]]></db:parameterized-query>
                    </db:insert>
                </when>
                <otherwise>
                    <logger message="WARN ---&gt;  #[payload]" level="WARN" doc:name="Logger"/>
                </otherwise>
            </choice>
        </scatter-gather>
    </flow>
    
    
    
    <flow name="EventPatternAdditionToEsper">
        <file:inbound-endpoint path="${file.new}" responseTimeout="10000" doc:name="New EPL EventPattern" moveToDirectory="${file.resources}">
        </file:inbound-endpoint>
        
        <file:file-to-string-transformer doc:name="File to String"/>
        <component doc:name="Add EventPattern to Esper Engine">
            <singleton-object class="esper.AddEventPatternToEsperComponent"/>
        </component>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy when="exception.causeMatches('com.espertech.esper.*')" doc:name="Syntax Error in EventPattern Code">
                <file:outbound-endpoint path="incorrect-eventpattern" responseTimeout="10000" doc:name="Incorrect EventPattern Code"/>
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>
    
    <flow name="dbConverter">
        <file:inbound-endpoint path="C:\eolic\dbFiles" moveToDirectory="C:\eolic\archive" connector-ref="File" responseTimeout="10000" doc:name=".DB files receiver" metadata:id="64b79b7b-ae0a-450e-a5f2-db24a834bd51" />
        <file:file-to-string-transformer doc:name="File to String"/>
        <component doc:name="toExcel" class="transformer.dbConverter">
        </component>
    </flow>
       
</mule>
